# Guidelines

## Использование Go и структура
Данный монорепозиторий хранит повторно используемые общие пакеты для использования в микросервисах.
Каждая корневая папка в репозитории представляет собой отдельный независимый пакет, который может использоваться отдельно от остальных.
Назначение пакетов:
* app - bootstrap пакет для объединения основных пакетов для быстрого запуска приложения и управления данными зависимостями
* cache - кеширование с использованием Redis
* config - загрузка конфигурации с использованием Viper
* database - работа с реляционной базой данных, реализация для работы с PostgreSQL через pgx
* grpc - реализация сервера и клиента для работы через gRPC
* healthcheck - простейший веб-сервер для проверки доступности микросервиса
* logger - обертка над zerolog для логирования, данный пакет используется в других пакетах
* metrics - экспорт метрик для Prometheus
* server - веб-сервер для HTTP API на основе Fiber
* transport - реализация обмена сообщениями через Kafka

## Требования
Всегда используй Go 1.24.2 в качестве версии языка.
Используй возможности последних версий Go, включая дженерики
Вместо interface{} всегда используй при возможности any
Используй принятую в Go конвенцию именования пакетов, а также структуру файлов и директорий.

# Тестирование и линтер
Для запуска линтера использовать команду `golangci-lint run ./...`
Для запуска тестов использовать команду `go test ./...`
